Repository yousufkalim/next-ts-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx pretty-quick --staged

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{js,ts,tsx,jsx,css,md,html,json}": "npx pretty-quick --staged"
}

Pkg json update
  package.json
Due: npx pretty-quick --staged

Add .idea config
  .idea/.gitignore
  .idea/git_toolbox_prj.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/modules.xml
  .idea/nextjs-boilerplate.iml
  .idea/prettier.xml
  .idea/vcs.xml
Due: none

Add env example
  .env.example
Due: none

Add script to generate sitemap
  .gitignore
  scripts/generate-sitemap.js
Due: eslint --fix, npx pretty-quick --staged

Update next config
  next.config.js
  package.json
  src/pages/_app.page.tsx
  src/pages/_document.page.tsx
  src/pages/index.page.ts
  yarn.lock
Due: eslint --fix, npx pretty-quick --staged

Add Meta component
  .env.example
  public/og-image.png
  src/components/Meta/Meta.tsx
  src/components/Meta/index.ts
  src/config/index.ts
  src/layouts/Home/Home.tsx
  src/pages/_app.page.tsx
  src/pages/_document.page.tsx
  src/pages/index.page.ts
  tsconfig.json
Due: eslint --fix, npx pretty-quick --staged

Setup homepage
  public/vercel.svg
  src/layouts/Home/Home.tsx
Due: eslint --fix, npx pretty-quick --staged

Add assets folder
  src/assets/next.svg
  src/layouts/Home/Home.tsx
Due: eslint --fix, npx pretty-quick --staged

Add sample getStaticProps
  src/layouts/Home/Home.tsx
  src/pages/index.page.ts
Due: eslint --fix, npx pretty-quick --staged

Add sample todo page with react-query
  package.json
  src/api/todos.api.ts
  src/assets/checkbox.svg
  src/assets/clock.svg
  src/assets/list.svg
  src/assets/tick.svg
  src/components/Todos/Item.tsx
  src/components/Todos/index.ts
  src/layouts/Home/Home.tsx
  src/pages/_app.page.tsx
  src/pages/todos/Todos.tsx
  src/pages/todos/index.page.ts
  src/types/Todo.type.ts
  yarn.lock
Due: eslint --fix, npx pretty-quick --staged

Add toaster
  package.json
  src/api/todos.api.ts
  src/components/Todos/Item.tsx
  src/pages/_app.page.tsx
  src/pages/todos/Todos.tsx
  yarn.lock
Due: eslint --fix, npx pretty-quick --staged

Error handling
  src/api/todos.api.ts
  src/components/Todos/Item.tsx
  src/pages/todos/Todos.tsx
  src/pages/todos/index.page.ts
Due: eslint --fix, npx pretty-quick --staged

Add hook - useWindowSize
  src/hooks/useWindowSize.js
Due: eslint --fix, npx pretty-quick --staged

Add hook - useLocalStorage
  src/hooks/useLocalStorage.js
Due: eslint --fix, npx pretty-quick --staged

Add hook - useInViewport
  src/hooks/useInViewport.js
Due: eslint --fix, npx pretty-quick --staged

Add hook - useInterval
  src/hooks/useInterval.js
Due: eslint --fix, npx pretty-quick --staged

Add hook - useHasMounted
  src/hooks/useHasMounted.js
Due: eslint --fix, npx pretty-quick --staged

Add hook - useFormInput
  src/hooks/useFormInput.js
Due: eslint --fix, npx pretty-quick --staged

Add hook - useAppContext
  src/hooks/index.js
  src/hooks/useAppContext.js
Due: eslint --fix, npx pretty-quick --staged

Create store context
  src/context/index.ts
  src/context/store.tsx
  src/hooks/index.js
  src/hooks/useAppContext.js
  src/pages/_app.page.tsx
Due: eslint --fix, npx pretty-quick --staged

Convert hooks to TS
  src/hooks/index.ts
  src/hooks/useFormInput.js
  src/hooks/useFormInput.ts
  src/hooks/useHasMounted.ts
  src/hooks/useInViewport.ts
  src/hooks/useInterval.js
  src/hooks/useInterval.ts
  src/hooks/useLocalStorage.ts
  src/hooks/useWindowSize.ts
Due: eslint --fix, npx pretty-quick --staged

Add hook - useCache
  src/hooks/index.ts
  src/hooks/useCache.ts
Due: eslint --fix, npx pretty-quick --staged

Improve folder structure
  src/assets/img/checkbox.svg
  src/assets/img/clock.svg
  src/assets/img/list.svg
  src/assets/img/next.svg
  src/assets/img/tick.svg
  src/components/Todos/Item.tsx
  src/layouts/Home/Home.tsx
  src/pages/todos/Todos.tsx
  src/utils/.gitkeep
Due: eslint --fix, npx pretty-quick --staged

Add project documentation
  README.md
Due: npx pretty-quick --staged

Update API url in env
  .env.example
Due: none

Update instructions
  README.md
Due: npx pretty-quick --staged

Fix linters
  .idea/inspectionProfiles/Project_Default.xml
  src/components/Meta/Meta.tsx
  src/components/Todos/Item.tsx
  src/context/store.tsx
  src/hooks/useFormInput.ts
  src/hooks/useHasMounted.ts
  src/hooks/useInViewport.ts
  src/hooks/useInterval.ts
  src/hooks/useLocalStorage.ts
  src/hooks/useWindowSize.ts
  src/layouts/Home/Home.tsx
  src/pages/_app.page.tsx
  src/pages/_document.page.tsx
  src/pages/index.page.ts
  src/pages/todos/Todos.tsx
  src/pages/todos/index.page.ts
  tsconfig.json
Due: eslint --fix, npx pretty-quick --staged

Setup lint-staged
  .husky/pre-commit
  package.json
Due: npx pretty-quick --staged

Add tsc-files for type checking
  .lintstagedrc
  package.json
  yarn.lock
Due: npx pretty-quick --staged
